<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Confirmação de Email</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="header">
        <nav class="container">
            
            @Html.ActionLink("Email Confirmado", "Index", "Home", new { area = "" }, new { @class = "grid-6" })
            
            <nav class="grid-10 header_menu">
                <ul>
                    <li>@Html.ActionLink("Explicação", "Index", "Home")</li>
                    <li>@Html.ActionLink("Registro", "Registrar", "Conta")</li>
                </ul>
            </nav>
        </nav>

    </header>

    <div class="corpo">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <p class="grid-16">&copy; @DateTime.Now.Year - Gerenciar email dos usuários - Nenhum direito reservado.</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
